[submodule "halo-2-benches"]
	path = halo-2-benches
	url = git@github.com:thor314/halo-2-benches.git
[submodule "halo-2-example"]
	path = halo-2-example
	url = git@github.com:thor314/halo-2-example.git
[submodule "halostar"]
	path = halostar
	url = git@github.com:thor314/halostar.git
